
.input{
    padding: 2px;
    margin-left: 10px;
}
label{
    display: flex;
    font-size: 25px;
    margin: 5px;
    padding: 8px;
    justify-content: center;
}
.orderButton{
    display: block;
    margin: auto;
    color: white;
    background-color: #2e2b2b;
    padding: 10px;
    border-radius: 10px;
}